#flex-container{
    display: flex;
}
#transaction-table{
    min-width: 20vw;
    flex-grow: 1
}
.blue{
    background-color: lightseagreen;
}
.red{
    background-color: lightcoral;
}

#transaction-details{
    flex-grow: 3;
}

.grid-wrapper{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 10rem 10rem 20rem;
    max-width: 40rem;
    border: black 3px solid;
    padding: 0.3rem;

    top: 1rem;
    position:sticky
}

.select-wrapper{
    width: 10rem;
}
.description{
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: whitesmoke;
}

.date{
    grid-column: 1;
    grid-row: 1;
    background-color: whitesmoke;

}
.account-one{
    grid-column: 1 / span 2;
    grid-row: 2;

}

.account-two{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.amount-one{
    grid-column: 3;
    grid-row: 2;
    text-align: end;

}

.amount-two{
    grid-column: 3;
    grid-row: 3;
    text-align: end;
}